.p-sub {
    margin-top: 10px;
    color: #888;
}

.pa-20 {
    padding: 10px;
}

.tma-20 {
    margin-top: 20px;
}

.op-5 {
    opacity: .3;
}

.line-through {
    text-decoration: line-through;
}

.nor-weight {
    font-weight: normal;
}

